In [1]:
import pandas as pd

In [3]:
df_1 = pd.read_csv("C:/Users/79828/django/project/uxuidesigner/designer/data/IT_vacancies_full.csv")

In [7]:
df_1 = df_1.drop(['Published at'], axis = 1)

In [40]:
df_2 = pd.read_csv("C:/Users/79828/django/project/uxuidesigner/designer/data/vacancies_2024.csv", low_memory=False)

In [41]:
df_2

,name,key_skills,salary_from,salary_to,salary_currency,area_name,published_at,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,SAP R/3 functional consultant,"C, С++, Python, Linux, Microsoft Office, SQL",NaN,NaN,NaN,Москва,2003-01-24T21:30:49+0300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Broadcast encryption engineer,"C, С++, Python, Linux, Microsoft Office, SQL",NaN,2000.0,USD,Южная Корея,2003-01-31T18:24:11+0300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Embedded OS engineering manager,"C, С++, Python, Linux, Microsoft Office, SQL",NaN,2000.0,USD,Москва,2003-01-31T18:25:43+0300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Coordinator on Intellectual Property Projects,"C, С++, Python, Linux, Microsoft Office, SQL",NaN,NaN,NaN,Москва,2003-02-12T10:40:50+0300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Outsourcing Projects Coordinator,"C, С++, Python, Linux, Microsoft Office, SQL",NaN,NaN,NaN,Москва,2003-02-14T16:31:06+0300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,QA manager/director,NaN,NaN,NaN,NaN,Москва,2014-08-25T10:58:10+0400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,Senior QA,NaN,NaN,NaN,NaN,Москва,2014-08-25T10:58:10+0400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,Web admin (Cloud Team),NaN,NaN,NaN,NaN,Москва,2014-08-25T10:58:10+0400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,Visual designer,NaN,NaN,NaN,NaN,Москва,2014-08-25T10:58:10+0400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,Системный администратор,NaN,NaN,NaN,NaN,Караганда,2014-08-25T10:59:10+0400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df_1['Published at'] = df_2['published_at']

In [46]:
df_1

,Ids,Employer,Name,Salary,From,To,Experience,Schedule,Keys,Description,Area,Professional roles,Specializations,Profarea names,Published at
0,49313809,Space307,Golang Developer (Кипр),True,251322.0,NaN,От 3 до 6 лет,Полный день,"['Docker', 'Golang', 'Redis', 'Английский язык...",Мы в Space307 разрабатываем международную торг...,Санкт-Петербург,"['Программист, разработчик']","['Программирование, Разработка']","['Информационные технологии, интернет, телеком']",2003-01-24T21:30:49+0300
1,48813842,Монополия,Е-mail маркетолог,True,60900.0,NaN,От 1 года до 3 лет,Полный день,"['Грамотность', 'Написание текстов', 'Грамотна...",С 2015 года наш IT блок меняет рынок автотранс...,Санкт-Петербург,['Менеджер по маркетингу и рекламе'],['Маркетинг'],"['Информационные технологии, интернет, телеком']",2003-01-31T18:24:11+0300
2,49413720,Eden Springs,Оператор call-центра (удаленно),False,NaN,NaN,От 1 года до 3 лет,Удаленная работа,"['Клиентоориентированность', 'Ориентация на ре...",Что нужно будет делать: Принимать входящие зв...,Санкт-Петербург,"['Оператор call-центра, специалист контактного...","['Маркетинг', 'Продажи по телефону, Телемаркет...","['Продажи', 'Информационные технологии, интерн...",2003-01-31T18:25:43+0300
3,46460892,Импорт Хоум,Ведущий SMM специалист,True,60000.0,80000.0,От 1 года до 3 лет,Полный день,"['Продвижение бренда', 'Креативность', 'Adobe ...",В данный момент мы ищем в нашу команду самого ...,Санкт-Петербург,"['SMM-менеджер, контент-менеджер']","['Управление маркетингом', 'PR, Маркетинговые ...","['Информационные технологии, интернет, телеком...",2003-02-12T10:40:50+0300
4,49555567,Pride Games Studio,UX/UI Designer,False,NaN,NaN,От 1 года до 3 лет,Полный день,"['UI', 'UX', 'gamedev', 'game design', 'проект...",Pride Games Studio — это команда единомышленни...,Санкт-Петербург,"['Дизайнер, художник']","['Игровое ПО', 'Программирование, Разработка',...","['Маркетинг, реклама, PR', 'Информационные тех...",2003-02-14T16:31:06+0300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,49108967,A-N SECURITY,Монтажник слаботочных систем,True,60000.0,NaN,От 1 года до 3 лет,Полный день,"['Мобильность', 'Работа в команде', 'Системы о...",Обязанности: ведение технической документации...,Москва,"['Сервисный инженер, механик']","['Передача данных и доступ в интернет', 'Сетев...","['Рабочий персонал', 'Информационные технологи...",2006-09-27T21:42:27+0400
48560,49108929,Филиал ФКУ Налог-Сервис ФНС России в г. Москве,Системный администратор,True,60000.0,NaN,От 1 года до 3 лет,Полный день,"['Windows 7', 'Windows 8', 'Windows 10', 'Unix...",Функциональные обязанности: Сопровождение опе...,Москва,['Системный администратор'],"['Системный администратор', 'Инженер', 'Поддер...","['Информационные технологии, интернет, телеком']",2006-09-27T22:10:23+0400
48561,47462568,Market Warrior,Менеджер по работе с маркетплейсами (офис),True,50000.0,NaN,От 1 года до 3 лет,Полный день,"['Работа с большим объемом информации', 'Управ...","Мы молодая команда, занимающаяся помощью в раб...",Москва,['Координатор отдела продаж'],['Управление проектами'],"['Информационные технологии, интернет, телеком']",2006-09-27T22:22:50+0400
48562,48713091,Кон.Трол,"Менеджер по продажам (Серверное оборудование, ...",True,120000.0,300000.0,От 1 года до 3 лет,Полный день,"['B2B Продажи', 'Ведение переговоров', 'CRM', ...",GAGAR&gt;IN ( ГК &quot;Con.Troll&quot; ) - рос...,Москва,"['Менеджер по продажам, менеджер по работе с к...","['Телекоммуникации, Сетевые решения', 'Услуги ...","['Информационные технологии, интернет, телеком...",2006-09-27T22:24:03+0400
48563,49108761,Vivid Money,Product Analyst,False,NaN,NaN,От 3 до 6 лет,Удаленная работа,['SQL'],We are an innovative FinTech start-up with the...,Москва,['Менеджер продукта'],"['Менеджмент продукта (Product manager)', 'Упр...","['Информационные технологии, интернет, телеком...",2006-09-27T22:37:58+0400

In [48]:
df_1.to_csv('vacansies.csv', index=False)

In [58]:
from IPython.display import FileLink
FileLink('vacansies.csv').html = FileLink('vacansies.csv').html.replace(
    'download', 'download.csv'
)

AttributeError: 'FileLink' object has no attribute 'html'

In [60]:
from IPython.display import FileDownload
FileDownload('vacancies.csv')

ImportError: cannot import name 'FileDownload' from 'IPython.display' (C:\Users\79828\anaconda3\Lib\site-packages\IPython\display.py)